<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.jeeeyul.eclipsejs.ui.QueryView"
            icon="icons/eclipse-js.gif"
            id="net.jeeeyul.eclipsejs.ui.QueryView"
            name="Eclipse.JS"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="net.jeeeyul.eclipsejs.ui.CommonView"
            id="net.jeeeyul.eclipsejs.common.view"
            name="Eclipse.JS Views"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
         <JsGlobalScopeContainerInitializer
            class="net.jeeeyul.eclipsejs.core.EJSLibraryInitializer"
            id="net.jeeeyul.eclipsejs.lib">
      </JsGlobalScopeContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
         <JsGlobalScopeContainerPage
         	id="net.jeeeyul.eclipsejs.lib"
         	name="Eclipse.JS Libraries"
         	class="net.jeeeyul.eclipsejs.core.EJSLibPage"
         	>
         </JsGlobalScopeContainerPage>
   </extension>
   
      <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="net.jeeeyul.eclipsejs.lib"
     	class="net.jeeeyul.eclipsejs.core.EJSLibUiInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>
      <extension
            point="org.eclipse.ui.console.consoleFactories">
         <consoleFactory
               class="net.jeeeyul.eclipsejs.EJSConsoleFactory"
               icon="icons/eclipse-js.gif"
               label="Eclipse.JS">
         </consoleFactory>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:showView">
            <dynamic
                  class="net.jeeeyul.eclipsejs.ui.ShowViewContribution"
                  id="net.jeeeyul.eclipsejs.dynamic1">
            </dynamic>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               id="net.jeeeyul.eclipsejs.common.command"
               name="Eclipse.JS Command">
            <commandParameter
                  id="net.jeeeyul.eclipsejs.command.id"
                  name="E.JS Command ID"
                  optional="true">
            </commandParameter>
         </command>
      </extension>

</plugin>
