<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.jeeeyul.eclipsejs.category"
            class="net.jeeeyul.eclipsejs.ui.queryview.QueryView"
            icon="icons/eclipse-js.gif"
            id="net.jeeeyul.eclipsejs.ui.queryview.QueryView"
            name="E.JS Query"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="net.jeeeyul.eclipsejs.category"
            class="net.jeeeyul.eclipsejs.extensions.view.CommonView"
            icon="icons/eclipse-js.gif"
            id="net.jeeeyul.eclipsejs.extensions.view.CommonView"
            name="E.JS Common"
            restorable="true">
      </view>
      <category
            id="net.jeeeyul.eclipsejs.category"
            name="Eclipse.JS">
      </category>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
         <JsGlobalScopeContainerInitializer
            class="net.jeeeyul.eclipsejs.script.lib.ui.EJSLibraryInitializer"
            id="net.jeeeyul.eclipsejs.lib">
      </JsGlobalScopeContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
         <JsGlobalScopeContainerPage
         	id="net.jeeeyul.eclipsejs.lib"
         	name="Eclipse.JS Libraries"
         	class="net.jeeeyul.eclipsejs.script.lib.ui.EJSLibPage"
         	>
         </JsGlobalScopeContainerPage>
   </extension>
   
      <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="net.jeeeyul.eclipsejs.lib"
     	class="net.jeeeyul.eclipsejs.script.lib.ui.EJSLibUiInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>
      <extension
            point="org.eclipse.ui.console.consoleFactories">
         <consoleFactory
               class="net.jeeeyul.eclipsejs.ui.console.EJSConsoleFactory"
               icon="icons/eclipse-js.gif"
               label="Eclipse.JS">
         </consoleFactory>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:showView">
            <dynamic
                  class="net.jeeeyul.eclipsejs.extensions.view.ShowViewContribution"
                  id="net.jeeeyul.eclipsejs.extensions.view.ShowViewContribution">
            </dynamic>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:net.jeeeyul.eclipsejs.ui.queryview.QueryView">
            <command
                  commandId="net.jeeeyul.eclipsejs.execute.view.script"
                  icon="icons/run_exc.gif"
                  style="push">
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.projectConfigure">
            <dynamic
                  class="net.jeeeyul.eclipsejs.extensions.builder.ui.NatureContribution"
                  id="net.jeeeyul.eclipsejs.extensions.builder.ui.NatureContribution">
            </dynamic>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               id="net.jeeeyul.eclipsejs.common.command"
               name="Eclipse.JS Command">
            <commandParameter
                  id="net.jeeeyul.eclipsejs.command.id"
                  name="E.JS Command ID"
                  optional="true">
            </commandParameter>
         </command>
         <command
               defaultHandler="net.jeeeyul.eclipsejs.script.internal.ExecuteViewScriptHandler"
               id="net.jeeeyul.eclipsejs.execute.view.script"
               name="Excute View Script">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="net.jeeeyul.eclipsejs.execute.view.script"
               contextId="net.jeeeyul.eclipsejs.script.view"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+ENTER">
         </key>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="net.jeeeyul.eclipsejs.script.view"
               name="In Eclipse.JS Script View">
         </context>
      </extension>
      <extension
            point="org.eclipse.ui.editors.templates">
         <template
               autoinsert="false"
               contextTypeId="javaScript"
               description="Add a listener to SWT Widget"
               icon="icons/eclipse-js.gif"
               id="net.jeeeyul.eclipsejs.template.swt.listener"
               name="addListener">
            <pattern>
               ${shell:localVar}.addListener(SWT.${eventType}, {
	handleEvent : function(/*org.eclipse.swt.widgets.Event*/ e){
		${cursor}
	}
});
            </pattern>
         </template>
         <template
               autoinsert="false"
               contextTypeId="javaScript"
               description="Creates View Extension Module"
               icon="icons/eclipse-js.gif"
               id="net.jeeeyul.eclipsejs.template.extension.view"
               name="View">
            <pattern>
               module = ejs.View.extend({&quot;name&quot; : &quot;${viewName}&quot;,
	&quot;icon&quot; : &quot;${icon}&quot;,
	&quot;init&quot; : function(viewSite){
		this.viewSite = viewSite;
	},
	&quot;create&quot; : function(/*org.eclipse.swt.widgets.Shell*/ parent) {
		${cursor}
	},
	&quot;dispose&quot; : function() {
	}
});
            </pattern>
         </template>
         <template
               autoinsert="false"
               contextTypeId="javaScript"
               description="iterates files in workspace with given pattern."
               icon="icons/eclipse-js.gif"
               id="net.jeeeyul.eclipsejs.template.extension.find.files"
               name="findFiles">
            <pattern>
               var ${list:localVar} = workspace.find(${pattern:localVar});
monitor.beginTask(${taskName:localVar}, ${list}.length);
${list}.forEach(function(/* ejs.File */it){
	${cursor}
	monitor.worked(1);
});
monitor.done();
            </pattern>
         </template>
         <template
               autoinsert="false"
               contextTypeId="javaScript"
               description="Creates Builder Extension"
               icon="icons/eclipse-js.gif"
               id="net.jeeeyul.eclipsejs.template.extension.builder"
               name="Builder">
            <pattern>
               module = ejs.Builder.extend({
	changed: function(/*ejs.File*/ file){
	},
	added: function(/*ejs.File*/ file){
	},
	removed: function(/*ejs.File*/ file){
	}
});
            </pattern>
         </template>
      </extension>
      <extension
            point="org.eclipse.wst.jsdt.core.inferrenceSupport">
            <inferenceProvider
            	class="net.jeeeyul.eclipsejs.jsdt.AdvancedInferenceProvider"/>
      </extension>
      <extension
            id="net.jeeeyul.eclipsejs.builder"
            name="Eclipse.JS Builder"
            point="org.eclipse.core.resources.builders">
         <builder
               callOnEmptyDelta="true"
               hasNature="true"
               isConfigurable="true"
               supportsConfigurations="true">
            <run
                  class="net.jeeeyul.eclipsejs.extensions.builder.EJSBuilder">
            </run></builder>
      </extension>
      <extension
            id="net.jeeeyul.eclipsejs.nature"
            name="Eclipse.JS Nature"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="net.jeeeyul.eclipsejs.extensions.builder.EJSNature">
            </run>
         </runtime>
         <builder
               id="net.jeeeyul.eclipsejs.builder">
         </builder>
      </extension>

</plugin>
